<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>beef.mp4</string>
	<string>bicycles.mp4</string>
	<string>bloodalley.mp4</string>
	<string>copperthief.mp4</string>
	<string>gun.mp4</string>
	<string>pennies.mp4</string>
	<string>shrooms.mp4</string>
	<string>sweeping.mp4</string>
	<string>umbrellas.mp4</string>
</array>
</plist>
